[edit]
    command = "nvim"

[diff]
    command = "difft"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]

[cd]
    {{- if eq .chezmoi.os "windows" }}
    command = "pwsh"
    args = "-nologo"
    {{- else if (exec "command" "-v" "zsh") }}
    command = "zsh"
    args = "-l"
    {{- else }}
    command = "bash"
    args = "-l"
    {{- end }}
